<div class="padding" ng-controller="PhotosController">

  <super-navbar ng-controller="sharedController">
    <super-navbar-title> <!-- ng-bind="navbarTitle">  overrides the title by binding to PhotosController -->
        Photos
    </super-navbar-title>

    <super-navbar-button side="right" ng-click="openMenu()">
        Menu
    </super-navbar-button>

  </super-navbar>


    <button class="button button-block button-positive icon-left super-camera" ng-click="getCamera()">Take a picture </button>

</div>
