<div class="list" ng-controller="ConfirmController" ng->
  <label class="item item-input item-stacked-label">
    <span class="input-label">Event Name:</span>
    <input type="text" ng-model="eventname" >
  </label>

  <label class="item item-input item-stacked-label">
    <span class="input-label">Location:</span>
    <input type="text" ng-model="location" placeholder="">
  </label>

  <label class="item item-input item-stacked-label">
    <span class="input-label">Start:</span>
    <input type="text" ng-model="from" placeholder="">
  </label>

  <label class="item item-input item-stacked-label">
    <span class="input-label">End:</span>
    <input type="text" ng-model="until" placeholder="">
  </label>

  <label class="item item-input item-stacked-label">
    <span class="input-label">Description:</span>
    <input type="text" ng-model="description" placeholder="">
  </label>

<super-modal-hide>
    <div>
      <button class="button button-block button-positive" ng-click="confirm_event()">Confirm</button>

      <button class="button button-block button-assertive" ng-click="cancel_event()">Cancel</button>
    </div>
 </super-modal-hide>
</div>
