<script>
    document.addEventListener("touchmove", function(e){
        e.preventDefault();
    });
</script>

<ul id="drawerList" class="list" ng-controller="CalendarController">

    <!--main page - take a picture-->
    <li class="item" ng-click="goToPhotos()">Take Picture</li>

    <!--open calendar-->
    <li class="item" ng-click="openCalendar()">Calendar</li>

    <!--upload picture-->
    <li class="item" ng-click="pickPhotoPass()">Upload Picture</li>

    <!--open saved events-->
    <super-navigate view-id="example#events">
      <li class="item" ng-click="goToEvents()">Events</li>
    </super-navigate>

    <!--open about page-->
    <!-- <super-navigate view-id="example#about"> -->
      <li class="item" ng-click="goToAbout()">About</li>
    <!-- </super-navigate> -->

</ul>
