<div class="padding" ng-controller="CalendarController">

    <h3 ng-bind="eventsAdded"></h3>

    <div class="card" data-ng-repeat="event in events track by $index">
        <div class="item item-divider">
            {{ event['eventname'] }}
            <img id="cancel" src="/icons/cancel.png" alt="Cancel" ng-click="removeEvent(event)">
        </div>

        <div class="item item-text-wrap">
            <div> Start: {{ event['from'] }} </div>
            <div> End: {{ event['until'] }} </div>
        </div>

        <div class="item item-text-wrap">
            {{ event['location'] }}
        </div>

        <div class="item item-divider">
            {{ event['description'] }}
        </div>

    </div>

</div>
