<div class="padding" ng-controller="PhotosController" id="mainContainer">


    <super-navbar >
        <super-navbar-title >
            PhotosCal
        </super-navbar-title>

        <super-navbar-button side="right" id="hamburger" ng-click="showDrawer()"> </super-navbar-button>

    </super-navbar>



    <div id="beginInner"></div>

    <button id="shutter" class="button button-block button-positive icon-left super-camera" ng-click="takePicture()">
        Take a picture
    </button>

<!-- <canvas id="camera" width="352" height="288" style="border:2px"></canvas> -->

<!--
    <button class="button button-block button-positive icon-left super-camera" ng-click="confirm()">
        Modal
    </button>

    <div ng-controller="FormController">
        <button class="button button-block button-positive icon-left super-camera" ng-click="testParse()">
            TestParse2
        </button>
    </div>
-->

        <!-- <div class="row row-center">
            <button class="button button-block button-positive icon-left super-camera" ng-click="startPreview()">
                Modal
            </button>
        </div> -->



</div>
